@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
  background: #000000;
  color: #f3f4f6;
}

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    background: linear-gradient(
    20deg,
    #0d0d63,  /* midnight blue */
    #4b007a,  /* deep purple */
    #9845a3,  /* medium purple */
    #e044bd,  /* hot pink */
    #f9d6e5   /* pale pink */
  );
    background-size: 400% 400%;
    box-shadow: 0 0 8px #e044bd, 0 0 15px #9845a3;
    animation: loading 0.8s ease infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

